.container {
  margin: 0 0 70px;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 0, 0.6);
}

.active{
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
  border-bottom: 10px solid rgba(0, 255, 0, 0.8);
}

.deaths{
  border-bottom: 10px solid rgba(255, 0, 0, 0.7);
  margin-top: 10px;
}